<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Services</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-4">
      <!-- service box -->
      <div class="service-box rounded data-background padding-30 text-center text-light shadow-blue bg-blue">
        <img src="assets/images/service-1.svg" alt="UI/UX design" />
        <h3 class="mb-3 mt-0">UI/UX design</h3>
        <p class="mb-0">I’ve crafted a sleek, user-focused designs for mobile and web apps using Figma. I can design interfaces that enhance user experience and make your app stand out.</p>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-4">
      <!-- service box -->
      <div class="service-box rounded data-background padding-30 text-center shadow-yellow bg-yellow">
        <img src="assets/images/service-2.svg" alt="UI/UX design" />
        <h3 class="mb-3 mt-0">Web Development</h3>
        <p class="mb-0">I created a disaster management system using C# for the Gift of the Givers Foundation. I can develop efficient, visually appealing web applications for your goals.</p>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-4">
      <!-- service box -->
      <div class="service-box rounded data-background padding-30 text-center text-light shadow-pink bg-pink">
        <img src="assets/images/service-3.svg" alt="UI/UX design" />
        <h3 class="mb-3 mt-0">App Development</h3>
        <p class="mb-0">I developed a mobile app using React Native for a non-profit organization to streamline event and donation management. I can build tailored mobile apps to meet your needs.</p>
      </div>
    </div>
  </div>

  <div class="mt-5 text-center">
    <p class="mb-0">Looking for a custom job? <a href="javascript:" (click)="scrollTo('contact')">Click here</a> to contact me! 👋</p>
  </div>
</div>
